@media (min-width: 419px) {
  .theme-container .home .hero {
    img {
      max-height: 120px;
      margin: 30px 0 0 310px;
    }
    #main-title {
      text-align: left;
      text-indent: 450px;
      margin-top: -90px;
      margin-bottom: 2.5rem;
    }
  }
}

.theme-container .home td {
  vertical-align: top;
}